@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_primary{
    /* background-image: linear-gradient(79deg, #07D2FB, #0819B5,#A5B4FC) */
    /* background: #FEB2BF; */
    background: #E7EFE1;
  }
  .bg_linear{
    background-image: linear-gradient(79deg, #07D2FB, #0819B5,#A5B4FC)
    /* background: #FEB2BF;
    background: #E7EFE1; */
  }
  .navbar_bg{
    background:#b0bfa2
  }
  .primary_black{
    color: #191919;
  }